#root {
  margin: 0;
  padding: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: aliceblue;
  color:black;
  height: 60px;
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.subBtn {
  background-color: rgb(77, 235, 246);
  height: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}